.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
}


.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.day-card-grp{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.day-card{
  text-align: center;
  color: aliceblue;
  width: 20vw;
  height: 20vw;
}

.day-img{
  width: 18vw;
  height: 18vw;
}

.Contrast{
  width: 18vw;
  height: 18vw;
  background-color: aliceblue;
  background-image: repeating-linear-gradient(
    90deg, white, white 50%, black 50%, black 100%);
}
/* .Contrast-inner{
  width: 18vw;
  height: 18vw;
  background-color: aliceblue;
  background-image: repeating-linear-gradient(
    90deg, white, white 50%, black 50%, black 100%);
} */

.Geometric{
  width: 18vw;
  height: 18vw;
  background: 
linear-gradient(30deg, #52b4f1 12%, transparent 12.5%, transparent 87%, #52b4f1 87.5%, #52b4f1 0), 
linear-gradient(150deg, #52b4f1 12%, transparent 12.5%, transparent 87%, #52b4f1 87.5%, #52b4f1 0), 
linear-gradient(30deg, #52b4f1 12%, transparent 12.5%, transparent 87%, #52b4f1 87.5%, #52b4f1 0), 
linear-gradient(150deg, #52b4f1 12%, transparent 12.5%, transparent 87%, #52b4f1 87.5%, #52b4f1 0), 
linear-gradient(60deg, #ecfc9e 25%, transparent 25.5%, transparent 75%, #ecfc9e 75%, #ecfc9e 0), 
linear-gradient(60deg, #ecfc9e 25%, transparent 25.5%, transparent 75%, #ecfc9e 75%, #ecfc9e 0), rgb(241, 116, 154);
background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
background-size: 80px 140px;
}

.Deep{
  width: 18vw;
  height: 18vw;
  background: radial-gradient(closest-side,#000000, #001722,#03354d,#054766,#057ab1, #1a84b6, #0e93d1, #34b1eb, #7cd4fc);
}

.Big{
  width: 18vw;
  height: 18vw;
  background: radial-gradient(circle at 100%, rgb(19, 19, 19), #333 35%, #333 50%, #eee 75%, #333 75%);
}